Package: com.roothide.lockdown
Name: lockdown
Version: 1.0.3
Architecture: iphoneos-arm64
Description: JSC security hardening for WebContent process. Configures JavaScriptCore options to eliminate exploit primitives (addrof/fakeobj, JIT type confusion, GC UAF). Enabled by default!
Maintainer: roothide
Author: roothide
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
